{% set title = "All Transactions" %}
{% set curPage = "transactions" %}
{% extends "base.html" %}

{% block content %}

<div class="container">

  <h5 class="page_title text-center border-bottom border-primary pb-2">{{title}}</h5>

  <div class="card shadow">
    <div class="card-body">

      <div class="table-responsive">
        <table class="table table-bordered table-striped border" id="table">
          <thead>
            <tr>
              <th>Sr No</th>
              <th>Book&nbsp;name</th>
              <th>Check-Out&nbsp;Date</th>
              <th>Due&nbsp;Date</th>
              <th>Check-in&nbsp;Date</th>
              <th>Late&nbsp;Fee</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for item in transactions %}
            <tr class="">
              <td>{{loop.index}}</td>
              <td>{{item['book']['name']}}</td>
              <td>{{item['check_in_date'].strftime('%Y-%m-%d')}}</td>
              <td>{{item['due_date'].strftime('%Y-%m-%d')}}</td>
              <td>{{item['check_out_date'].strftime('%Y-%m-%d') if item['check_out_date']}}</td>
              <td>${{'%0.2f'%item['late_fee']|float}}</td>
              <td>{{TransactionStatus(item['status']).name}}</td>
              <td>
                <a href="/member/transaction/details?id={{item['_id']}}" class="btn btn-sm btn-info w-100 mb-1"
                  title="View transaction details">View</a>
                {% if item['status'] == TransactionStatus.CHECKED_IN.value%}  <!--in to out -->
                {% if item['is_delayed'] %}
                <a href="/member/pay-check-out-book?id={{item['_id']}}" class="btn btn-sm btn-success w-100 mb-1"
                  title="Pay & Checkout since delayed">Pay&nbsp;&&nbsp;Checkout</a>
                {% else%}
                <a href="/member/check-out-book?id={{item['_id']}}" class="btn btn-sm btn-success w-100 mb-1"
                  title="Checkout this book">Check-in</a>
                {% if not item['is_extended'] %}
                <a href="/member/extend?id={{item['_id']}}" class="btn btn-sm btn-primary w-100 mb-1"
                  title="Can be extended once upto 2 weeks from due date">Extend</a>
                {% endif %}
                {% endif %}

                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

    </div>
  </div>

</div>

{% endblock %}