{% set title = "All Transactions" %}
{% set curPage = "transactions" %}
{% extends "base.html" %}

{% block content %}

<div class="container">

  <h5 class="page_title text-center border-bottom border-primary pb-2">{{title}}</h5>

  <div class="card shadow">
    <div class="card-body">

      <div class="table-responsive">
        <table class="table table-bordered table-striped border" id="table">
          <thead>
            <tr>
              <th>Sr No</th>
              <th>Member&nbsp;name</th>
              <th>Book&nbsp;name</th>
              <th>CheckIn&nbsp;Date</th>
              <th>Due&nbsp;Date</th>
              <th>CheckOut&nbsp;Date</th>
              <th>Late&nbsp;Fee</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for item in transactions %}
            <tr class="">
              <td>{{loop.index}}</td>
              <td>{{item['member']['fullname']}}</td>
              <td>{{item['book']['name']}}</td>
              <td>{{item['check_in_date'].strftime('%Y-%m-%d')}}</td>
              <td>{{item['due_date'].strftime('%Y-%m-%d')}}</td>
              <td>{{item['check_out_date'].strftime('%Y-%m-%d') if item['check_out_date']}}</td>
              <td>${{'%0.2f'%item['late_fee']|float}}</td>
              <td>{{TransactionStatus(item['status']).name}}</td>
              <td>
                <a href="/admin/transaction/details?id={{item['_id']}}" class="btn btn-sm btn-info w-100 mb-1"
                  title="View transaction details">View</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

    </div>
  </div>

</div>

{% endblock %}